.heading {
	margin-left: 50px;
	margin-top: 50px;
}

.information {
	margin-left: 50px;
}

.savings {
	margin-top: 200px;
}

.account_settings {
	margin-top: 100px;
}

.purchases {
	margin-top: 100px;
}

.suggested {
	margin-left: 50px;
}
.other_img {
	width: 20%;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 100px;
}

.suggested {
	margin-top:100px;
}