.headding {
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	color: white;
}

.sectionname {
	font-family: AudioWide;
	color: white;
}

.maintext {
	color: #343635;
}

.information {
	margin-left: 50px;
	color: white;
}

.savinggs {
	margin-top: 100px;
	margin-right: 50px;
	border-top: 6px solid #347484;
}

.account_settings {
	margin-top: 100px;
	margin-right: 50px;
	border-top: 6px solid #347484;
}

.purchases {
	margin-top: 100px;
	margin-right: 50px;
	border-top: 6px solid #347484;
}

.suggested {
	margin-left: 50px;
	margin-right: 50px;
	border-top: 6px solid #347484;
}
.other_img {
	width: 15%;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.suggested {
	margin-top:100px;
}