body {

}

.navbar {
	border-bottom: solid black 1px;
}

.homepage {
	background-color: transparent;
}

.product {
	height: 15%;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.product_image {
	border: solid black 4px;
  	width: 25%;
  	height: 25%;
}

.product_info {
	font-size: 20px;
}

.description {
	float: right;
	margin-top: 50px; 
	margin-right: 200px;
}

/* Search bar - top */
.topsearch {
	margin: 0 auto;
	padding-top: 10px;
	width: 300px;
}
.topsearch-form {
	width: 100%;
}
/* Filters */
.filter-section {
	text-align: center;
}
.filter {
	display: inline-block;
}
.filter-button {
	padding-left: 5px; padding-right: 5px;
	width: 100px;
	cursor: pointer;
}
.filter-choices {
	display: none;
    position: absolute;
    z-index: 1;
    width: 100px;
    border: solid black 1px;
}
.filter-choices a {
	display: block;
	text-align: center;
}
