body {

}

.product {
	height: 15%;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #343635;
}

.product_image {
	/*border: solid black 4px;*/
	border-radius: 10px;
  	width: 25%;
  	height: 25%;
}

.product_info {
	font-size: 25px;
	color: #343635;
}

a {
    color:black;
    text-decoration:none;
}

.description {
	float: right;
	margin-top: 50px;
	margin-right: 200px;
	color: black;
}

/* Filters */
.filter-section {
	text-align: center;
}
.filter {
	display: inline-block;
	margin: 10px;
}
.filter-button {
	height: 30px;
	border-radius: 4px;
	padding-left: 5px; padding-right: 5px;
	width: 100px;
	cursor: pointer;
	color: #2e4874;
}
.filter-choices {
	display: none;
    position: absolute;
    z-index: 1;
    width: 100px;
    border-radius: 2px;
    background-color: white;
}
.filter-choices a {
	display: block;
	text-align: center;
	color: #347484;
}

.productsUL ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.productsUL ul li{
	list-style-type: none;
	height: 15%;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: black;
}

.productsUL ul li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
