body {

}

.logo {
	display: inline-block;
}
.navbar {
	border-bottom: solid black 1px;
}
.mainsearch {
	text-align: center;
	width: 100%;
	margin-top: 40px;
}
input.mainsearch {
	width: 50%;
	height: 50px;
	background: url(images/magnifier.png) no-repeat scroll 7px 7px;
	padding-left:30px;
}

.homepage {
	background-color: transparent;
}

.main_prod {
	background-color: red;
}





2