/*.main_prod {
	margin-top: 50px;
	margin-left: 50px;
}*/

.product_info {
	margin-left: 50px;
	font-size: 35px;
}

.product_image {
	/*border: solid black 4px;*/
	border-radius: 10px;
	margin: 20px;
	width: 80%;
}
.product_desc {
	/*width: 550px;*/
	/*margin-top: 50px;*/
	/*margin-left: 50px;*/
	/*display: inline-block;*/
	/*border: solid black 2px;*/
	margin: 20px;
	color: #d3d3d3;
}
.main_price {
	margin: 40px;
	font-size: 30px;
}
#sale-price {
	color:#FF8C00;
}
#original-price {
	color: #343635;
	text-decoration: line-through;
	text-decoration-color: #FF8C00;
}
.bottom_bar {
	margin-left: 50px;
	margin-top: 150px;
	margin-bottom: 80px;
}
.other_img {
	width: 20%;
	margin-right: 50px;
	/*border: solid black 2px;*/
	border-radius: 10px;
}

/* Price Graph */
.priceGraph {
	padding: 20px;
	width: 100%;

}