body {

}

.logo {
	display: inline-block;
}
.navbar {
	border-bottom: solid black 1px;
}
.mainsearch {
	text-align: center;
	width: 100%;
	margin-top: 40px;
}
input.mainsearch {
	width: 50%;
	height: 50px;
	background: url(images/magnifier.png) no-repeat scroll 7px 7px;
	padding-left:30px;
}

.homepage {
	background-color: transparent;
}

.product {
	height: 15%;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.product_image {
	border: solid black 4px;
  	width: 25%;
  	height: 25%;
}

.product_info {
	font-size: 20px;
}

.description_1 {
	float: right;
	margin-top: 50px; 
	margin-right: 200px;
}

.description_2 {
	float: right;
	margin-top: 50px; 
	margin-right: 200px;
}

.description_3 {
	float: right;
	margin-top: 50px; 
	margin-right: 200px;

}

.description_4 {
	float: right;
	margin-top: 50px; 
	margin-right: 200px;
}

.description_5 {
	float: right;
	margin-top: 50px; 
	margin-right: 200px;
}







2