
/* Home Page */
.mainsearch {
	text-align: center;
	width: 100%;
	margin-top: 40px;
}

form.mainsearch {
	width: 50%;
	display: inline-block;
}
.mainsearch-text {
	width: 100%;
	height: 50px;
	background: url(images/magnifier.png) no-repeat scroll 7px 7px;
	padding-left: 50px; padding-right: 50px;
	border-radius: 10px;
	color: #124699;
	background-color: white;
}
.mainsearch-submit {
	margin: 10px;
    height: 40px;
    width: 80px;
    background: #347484;
    color: white;
    border: solid 0px;
    border-radius: 10px;
    -webkit-appearance: none;
}

.signup {
	color: white;
	
}
/* Steals of the day and trending */
.steals-container, .trending-container {
	border-radius: 10px;
	border: solid #347484 1px;
	border-style: groove;
	text-align: center;
	height: 400px;
	margin-top: 100px;
	display: inline-block;
	float: left;
	padding-top: 5px;
	margin-bottom: 100px;

	background: #347484;
/*	background: -webkit-linear-gradient(180deg, #347484, #7eaba4);
	background: -moz-linear-gradient(180deg, #347484, #7eaba4);
	background: -ms-linear-gradient(180deg, #347484, #7eaba4);
	background: -o-linear-gradient(180deg, #347484, #7eaba4);
	background: linear-gradient(180deg, #347484, #7eaba4);*/
}
.steals-container {
	width: 35%;
	margin-left: 8%;
	margin-right: 0;
}
.trending-container {
	width: 44%;
	margin-left: 5%;
	margin-right: 8%;
}

.trending-entry{
	float: left;
	margin-left: 55px;
	margin-top: 25px;
	color: #d3d3d3;
}
.trending-image-container {
	width: 200px;
	height: 200px;
	text-align: center;
	border: solid #124699 1px;
}

.trending-image {
	display: block;
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
	border-radius: 10px;
}

.steals-trending-title {
	color: white;/*#124699;*/
	font-family: AudioWide;
	font-size: 24px;
}
 /*use as each steals container */
.steals-entry {
	float: left;
	margin-left: 35px;
	margin-top: 25px;
	color: #d3d3d3;
}
.steals-image-container {
	width: 100px;
	height: 100px;
	text-align: center;
	/*border: solid #124699 1px;*/
}
.steals-image {
	display: block;
	max-width: 98px;
	max-height: 98px;
	width: auto;
	height: auto;
	border-radius: 10px;
}

/*.steals-caption {
	width: 66.6%;
	height: 100%;
	float: left;
	margin-left: 10%;
	text-align: center;
}*/
