body {
}

.logo {
	display: inline-block;
	color: #124699;
}

.navbar {
	top: 0;
	/*background-color: #5688d8;*/
	padding-bottom: 20px;
	border-bottom: solid black 1px;
	margin-left: 15px; margin-right: 15px;
}