/*
	top bar dark blue: #347484;
	main page lighter blue: #85abb5;
	orange accent: #d2522f;
	light gray text: #d3d3d3
	dark gray text: #343635;
*/
body {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #347484;
	background: -webkit-linear-gradient(180deg, #85ABB5, #347484);
	background: -moz-linear-gradient(180deg, #85ABB5, #347484);
	background: -ms-linear-gradient(180deg, #85ABB5, #347484);
	background: -o-linear-gradient(180deg, #85ABB5, #347484);
	background: linear-gradient(180deg, #85ABB5, #347484);
	background-attachment: fixed;
}
.logo {
	display: inline-block;
	color: white; /*#124699;*/
	font-family: AudioWide;
}

.navbar {
	top: 0;
	background-color: #347484;
	padding-bottom: 20px;
}

/* Search bar - top */
.topsearch {
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 0px;
	width: 300px;
}
.topsearch-form {
	width: 100%;
}
