body {
}

.logo {
	display: inline-block;
}

.navbar {
	border-bottom: solid black 1px;
}

/* Home Page */
.mainsearch {
	text-align: center;
	width: 100%;
	margin-top: 40px;
}

form.mainsearch {
	width: 50%;
	display: inline-block;
}
input.mainsearch {
	width: 100%;
	height: 50px;
	background: url(images/magnifier.png) no-repeat scroll 7px 7px;
	padding-left: 30px;
}
#searchButton {
	display: inline-block;
}

/* use for steals of the day container */
.content1 {
	width: 35%;
	height: 400px;
	margin-top: 100px;
	border-style: groove;
	border: 1px solid black;
	text-align: center;
	float: left;
	margin-right: 2.5%;
	margin-left: 2.5%;
	padding-top: 1%;
}

/* use for trending container */
.content2 {
	width: 55%;
	height: 400px;
	margin-top: 100px;
	border-style: groove;
	border: 1px solid black;
	text-align: center;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding-top: 1%;
}

/* use as each steals container */
.Steals {
	width: 100%;;
	height: 33.3%;
	padding: 5%;
	float: left;
	text-align: left;

}

.stealsImage {
	width: 33.3%;
	height: 100%;
	float: left;
	/*margin-right: 15%;*/
}

.stealsCaption {
	width: 66.6%;
	height: 100%;
	float: left;
	/*margin-left: 10%;*/
	text-align: center;
}

/* Top Search Bar */
#topsearch {
	display: inline-block;
}
